# Rust build artifacts
/target/
switft-merge/target/**
switft-merge/target/
*.log
switft-merge/tmp/**
switft-merge/tmp/
switft-merge/test_metrics/**
swift-merge/Wal.tmp

# Ignore data directory and all its contents
/data/
data/
/test-data/

# Ignore all .bin files except the test file
*.bin

# Exception: Keep the superhero test file
!src/lsm_tree/super_hero.bin